<p class="content-column-text">
<%= link_to tournament.name, tournament %>

<br/>
<%= render '/tournaments/starts_at', :tournament => tournament %>

<br/>

<%= render '/tournaments/ends_at', :tournament => tournament %>
</p>