<ul>
	<li><%= link_to 'Upcoming', upcoming_tournaments_path %></li>
	<li><%= link_to 'In Progress', in_progress_tournaments_path %></li>
	<li><%= link_to 'Finished', finished_tournaments_path %></li>
</ul>