<h1>BracketBaby App</h1>

<p>Easy online tournaments for games.</p>

<ul>
	<li>My Dashboard</li>
	<li>Join Upcoming Tournaments</li>
	<li>Run a Tournament</li>
	<li>Follow In-Progress Tournaments</li>
</ul>

<ul>
	<li><%= link_to 'Create a Tournament', new_tournament_path %></li>
	<li><%= link_to 'List all Tournaments', tournaments_path %></li>
	<% if signed_in? %>
	<li><%= link_to 'Sign Out', session_path, :method => :delete %>
	<% end %>
</ul>